/*
  main.CSS

  Colors
  *******

  black: #000000
  darker gray: #222222
  dark gray: #333333
  gray: #444444
  light gray: #eeeeee
  light blue: #00c0ff
  dark blue: #0090bf

*/

/* *****************
  General Styles
***************** */
.contact li{
  list-style: none;
}
/* *****************
 Layout
***************** */
.contact{
  width:50%;
  border: 1px solid red;
  text-align: center;

}

        /* *****************
         left section
        ***************** */
        .leftSection{
          float:left;
          margin:5% 0 5% 10%;
        }

        .contactSocial li{
          display: inline-block;
        }

      /* *****************
       right section
      ***************** */

      .rightSection{
        float: right;
        margin:8% 10% 0 0;
      }
      .name,
      .email{
        padding:5px 0 5px 25px;
        margin-bottom: 20px;
        border-radius: 5px
      }
      .name{
        display: block;
      }
      .email{
        display:block;
      }
      .submit{
        display: block;
      }

      .radioButtons{
        margin-bottom: 20px;
      }
      .submit{
        position: relative;
        left:30%;
      }
