/*
  main.CSS

  Colors
  *******

  black: #000000
  darker gray: #222222
  dark gray: #333333
  gray: #444444
  light gray: #eeeeee
  light blue: #00c0ff
  dark blue: #0090bf

*/

/* *****************
  General Styles
***************** */
*{
  box-sizing: border-box;
}

body{
  font-family: 'helvetica', arial, sans-serif;
  font-size: 1rem;
  line-height: 16px;
  color: #222;
  background: #eee;
  margin: 0;
  padding: 0;

  background: radial-gradient(ellipse at center, rgba(219,240,252,1) 0%,rgba(237, 231, 231, 0.98) 90%);
	background-attachment: fixed;
	height:100%;
}

html{
  -webkit-font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

/* *****************
  Logo
***************** */

#logo{
  float: left;
}

#logo a{
  color: #000;
  text-decoration: none;
  margin: 25px 20px;
  display: inline-block;
  font-size: 2.1rem;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;

  -webkit-text-shadow: 1px 1px 0px rgba(0,0,0,0.75);
  -moz-text-shadow:    1px 1px 0px rgba(0,0,0,0.75);
  -o-text-shadow:      1px 1px 0px rgba(0,0,0,0.75);
  text-shadow:         2px 2px 5px rgba(0,0,0,0.75);

  -webkit-transition: color 0.20s ease-in-out;
  -moz-transition:    color 0.20s ease-in-out;
  -o-transition:      color 0.20s ease-in-out;
  transition:         color 0.20s ease-in-out;
}

#logo span{
  color:rgba(81, 119, 189, 0.96);

  -webkit-transition: color 0.20s ease-in-out;
  -moz-transition:    color 0.20s ease-in-out;
  -o-transition:      color 0.20s ease-in-out;
  transition:         color 0.20s ease-in-out;
}

#logo a:hover{
  color: rgba(81, 119, 189, 0.96);
}

#logo span:hover{
  color: #000;
}

/* *****************
  Navigation
***************** */
header .navContainer {
  margin-bottom: 30px;
}

header nav ul li a{
  text-decoration: none;
  color: rgba(81, 119, 189, 0.96);
}

header nav ul{
  margin: 0;
  padding: 0;
  float: right;
}

header nav ul li {
  list-style: none;
  float: left;

  display: inline-block;
  margin: 25px 20px;
  cursor: pointer;
  position: relative;
  font-family: 'Dosis', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 0.7;

  -webkit-text-shadow: 2px 2px 9px rgba(0,0,0,0.75);
  -moz-text-shadow:    2px 2px 9px rgba(0,0,0,0.75);
  -o-text-shadow:      2px 2px 9px rgba(0,0,0,0.75);
  text-shadow:         2px 2px 9px rgba(0,0,0,0.75);

  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition:    color 0.25s ease-in-out;
  -o-transition:      color 0.25s ease-in-out;
  transition:         color 0.25s ease-in-out;
}

header nav ul li a:hover{
  color: #000;
}

header nav ul li:active{
  bottom: 1px;

}


/* *****************
  Layout
***************** */

.container{
  width: 80%;
  margin : 0 auto;
  overflow: hidden;
}

.col4{
  float:left;
  overflow: hidden;
}

.fourthContainer{
  position: relative;
  bottom: 17vh; /*165px;*/
}

.fifthContainer{
  position: relative;
  bottom: 30.1vh;  /*282px;*/

}

.sixthContainer{
  position: relative;
  bottom: 25vh; /*230px;*/
  float:right;
}

.leftCorner{
  position: relative;
  bottom: 12vh;
}

/* *****************
  Main Content
***************** */

#content img{
  min-width: 100%;
  height: 100%;
  opacity: 1;
  backface-visibility: hidden;
  position: relative;

  -webkit-transition: .5s ease;
  -moz-transition:    .5s ease;
  -o-transition:      .5s ease;
  transition:         .5s ease;

  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow:    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -o-box-shadow:      0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow:         0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content .leftRow, #content .fourthContainer{
  width: 33.3%;
  margin-right: 2%;
}

#content .middleRow, #content .fifthContainer{
  width: 36.67%;
}

#content .rightRow{
  width: 26%;
  margin-left:2%;
}

#content .sixthContainer{
   width: 64.7%;
 }

/* *****************
  text hover Design
*****************/

.middle{
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  -moz-transition:    .5s ease-in-out;
  -o-transition:      .5s ease-in-out;
  transition:         .5s ease-in-out;

  position: absolute;
  text-transform: uppercase;
  text-align: center;
}

#content img:hover {
  opacity: 0.7;
}

#content .col4:hover .middle{
  opacity: 1;
}

.middle p{
  background: ;
  padding:;
  font-size: 2.7rem;
  color: #fff;
}

#content .leftRow .middle{
  top:27%;
  left:20.5%;
  /*-webkit-transform: translate(365%, -365%);
  -moz-transform:    translate(365%, -365%);
  -o-transform:      translate(365%, -365%);
  transform:         translate(190%, -255%);*/
}

#content .fourthContainer .middle{
  top: 36%;
  left:40%;
}


#content .fifthContainer .middle{
  top: 30%;
  left:42.5%;
}

#content .middleRow .middle{
  top:20%;
  left:50%;
  /*-webkit-transform: translate(370%, -270%);
  -moz-transform:    translate(370%, -270%);
  -o-transform:      translate(370%, -270%);
  transform:         translate(215%, -195%);*/

}

#content .rightRow .middle{
  top:37%;
  left:76.5%;
  /*-webkit-transform: translate(225%, -540%);
  -moz-transform:    translate(225%, -540%);
  -o-transform:      translate(225%, -540%);
  transform:         translate(125%, -360%);*/

}


#content .sixthContainer .middle{
  top:40%;
  left:44%;
  /*-webkit-transform: translate(225%, -540%);
  -moz-transform:    translate(225%, -540%);
  -o-transform:      translate(225%, -540%);
  transform:         translate(395%, -300%);*/

}

#content .leftCorner .middle{
  top:38%;
  left:39%;
  /*-webkit-transform: translate(225%, -540%);
  -moz-transform:    translate(225%, -540%);
  -o-transform:      translate(225%, -540%);
  transform:         translate(395%, -300%);*/

}

/* *****************
  Footer
***************** */
footer{
  margin: 15px 0;

}
footer p{
  float: left;
  font-family: 'Dosis', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;


  -webkit-text-shadow: 2px 2px 9px rgba(0,0,0,0.75);
  -moz-text-shadow:    2px 2px 9px rgba(0,0,0,0.75);
  -o-text-shadow:      2px 2px 9px rgba(0,0,0,0.75);
  text-shadow:         2px 2px 9px rgba(0,0,0,0.75);
}

footer nav{
  float: right;
}

footer nav ul{
  margin: 0;
  padding: 0;
}

footer nav ul li{
  list-style: none;
  float:left;
  margin: 0 20px;
  cursor: pointer;
  font-family: 'Dosis', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;

  -webkit-transition: width 0.20s ease-in-out;
  -moz-transition:    width 0.20s ease-in-out;
  -o-transition:      width 0.20s ease-in-out;
  transition:         width 0.20s ease-in-out;

  -webkit-text-shadow: 2px 2px 9px rgba(0,0,0,0.75);
  -moz-text-shadow:    2px 2px 9px rgba(0,0,0,0.75);
  -o-text-shadow:      2px 2px 9px rgba(0,0,0,0.75);
  text-shadow:         2px 2px 9px rgba(0,0,0,0.75);
}

footer nav ul li:hover{
  color: rgba(81, 119, 189, 0.96);

}

footer nav ul li:active{
  color: #000;

}

#contact{
  margin-right: 0;
}
/* *****************
  Footer social
***************** */
footer #socialFooter{
  display: inline;
  position: absolute;
  right: 80vh;
}
footer #socialFooter ul{
margin: 0;
padding: 0;
}
footer #socialFooter ul li{
  list-style: none;
  float: left;
  padding: 0 15px;
}

footer #socialFooter ul li img{
  width: 90%;
  height:auto;

  -webkit-transition: width 0.20s ease-in-out;
  -moz-transition:    width 0.20s ease-in-out;
  -o-transition:      width 0.20s ease-in-out;
  transition:         width 0.20s ease-in-out;

}

footer #socialFooter ul li img:hover{
  width: 100%;
  height:auto;
}

/* *****************
  Global Styles
***************** */

.clearfix::before,
.clearfix::after{
  content: '';
  display: table;
}

.clearfix:after{
  clear: both;
}

.clearfix{
  zoom: 1;
}
